html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

main {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  background: whitesmoke;
  overflow: clip;
}

.entidad.seleccionado, .atributo.seleccionado {
  --color-resaltado: #3b82f6;
  outline: 3px solid var(--color-resaltado);
  filter: drop-shadow(0 0 6px var(--color-resaltado));

  input {
    cursor: none !important;
  }
  border-radius: 4px;
}

.relacion.seleccionado polygon {
  --color-resaltado: #3b82f6;
  stroke: var(--color-resaltado);
  stroke-width: 3;
  filter: drop-shadow(0 0 6px var(--color-resaltado));
}

.relacion.seleccionado input {
  cursor: none !important;
}

.diagrama-mer[data-interaccion-en-curso='Borrado'] {
  .entidad:not(:has(.atributo:hover)), .atributo, .relacion polygon {
    &:hover {
      --color-resaltado: rgba(245, 19, 19, 0.5);
      cursor: pointer;
      box-shadow: 0 0 5px var(--color-resaltado);
      filter: drop-shadow(0 0 5px var(--color-resaltado));
      user-select: none;
    }
  }
}

.diagrama-mer[data-interaccion-en-curso='Crear Relacion'] {
  .entidad:not(:has(.atributo:hover)) {
    &:hover {
      --color-resaltado: rgba(16, 173, 128, 0.53);
      cursor: pointer;
      box-shadow: 0 0 5px var(--color-resaltado);
      filter: drop-shadow(0 0 5px var(--color-resaltado));
      user-select: none;
    }
  }

  .atributo, .relacion, line {
    filter: blur(3px);
  }
}


.diagrama-mer[data-interaccion-en-curso='Crear Entidad'] {
    cursor: pointer;

  .entidad, .atributo, .relacion, line {
    filter: blur(3px);
  }
}

.atributo, .relacion, line {
  transition: filter 0.2s;
}

.diagrama-mer.accion-en-curso {
  .entidad, svg {
    pointer-events: none;
  }

  input {
    pointer-events: none;
  }

  .entidad button {
    display: none;
  }
}

.diagrama-mer:not(.accion-en-curso) {
  .arrastrable {
    cursor: grab;
    touch-action: none;
    user-select: none;

    &.agarrando {
      cursor: grabbing;
    }
  }

  .agarrando, .agarrando .atributo {
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.5);
  }

  .entidad:hover {
    input {
      cursor: pointer;
    }

    button {
      display: inline;
    }
  }

  .entidad button {
    display: none;
  }

  .relacion:hover input {
    cursor: pointer;
  }
}

.entidad {
  border: 1px solid gray;
  padding: 1em;
  background: white;
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;

  button {
    position: absolute;
    right: 1em;
    top: -10px;
    border-radius: 50%;
    background: #007bff;
    color: white;
    width: 22px;
    height: 22px;
    border: none;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      background: #0056b3;
    }
  }

  input {
    &:hover {
      border-bottom-color: gray;
    }

    field-sizing: content;
    min-width: 50px;
    outline: none;
    text-align: center;
    border: none;
  }

  & > div:last-child {
    position: absolute;
    top: 0;
    left: 0;
  }

  .atributo {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    padding: 1em;
    border-radius: 100%;
    border: 1px solid gray;

    input {
      min-width: 50px;
      field-sizing: content;
    }
  }
}

.relacion input {
  outline: none;
}

.rombo-foreign-object {
  cursor: auto;
}

.relacion polygon {
  fill: white;
  stroke: gray;
  stroke-width: 1;
}

.contenedor-barra {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#topbar {
  pointer-events: auto;
  max-width: fit-content;
  background: rgba(250, 250, 250, 0.8);
  border: 1px solid #ccc;
  border-radius: 0 0 8px 8px;
  padding: 8px 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

#topbar button {
  padding: 6px 12px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #0056b3;
  }

  &.boton-activo {
    background-color: #02468f;
    color: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  }
}

#topbar button {
  transition: background-color 0.1s, transform 0.1s, box-shadow 0.1s;
}

.texto-sugerencia {
  font-family: sans-serif;
  font-style: italic;
  font-size: 16px;
  color: #3a3535;
  margin-top: 0.5rem;
  visibility: hidden;

  &:not(:empty) {
    visibility: visible;
  }
}

#contenedor-toast {
  position: fixed;
  z-index: 9999;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
  pointer-events: none;
}

.toast {
  width: 20vw;
  padding: 10px 14px;
  border-radius: 10px;
  box-shadow: 0 6px 24px rgba(0,0,0,.18);
  background: #dc2626;
  color: #fff;
  opacity: 0;
  text-align: center;
  transition: opacity .2s ease;
  pointer-events: auto;
  word-break: break-word;
  font-family: Roboto, sans-serif;
}

#panel-inspector {
  position: fixed;
  right: 0;
  top: 0;
  width: 20vw;
  height: 100vh;

  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(6px);
  border-left: 1px solid #e5e7eb;
  padding: 1.2rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);

  display: none;
  z-index: 1000;
  font-family: Inter, system-ui, sans-serif;
}