body {
  position: relative;
  width: 100vh;
  height: 100vh;
  background: whitesmoke;
  margin: 0;
}

.entidad {
  border: 1px solid gray;
  padding: 1em;
  background: white;
  position: absolute;

  input {
    border: none;
    border-bottom: 1px solid gray;
  }

  & > div:last-child {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateY(100%) translateX(-50%);
    width: 400px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .atributo {
    background: white;
    padding: 1em;
    margin: .2em;
    border-radius: 100%;
    border: 1px solid gray;

    input {
      max-width: 100px;
    }
  }

}
